* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #0d0d0d;
    color: #f2f2f2;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px 60px;
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    font-size: 20px;
    font-weight: 800;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}

.nav-links a:hover {
    opacity: 1;
}

/* HERO */
.hero {
    padding-top: 160px;
    text-align: center;
}

.avatar {
    width: 160px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    font-size: 42px;
    font-weight: 900;
}

.gradient {
    background: linear-gradient(to right, #7f5cff, #21d4fd);
    -webkit-background-clip: text;
    color: transparent;
}

.subtitle {
    opacity: 0.7;
    margin: 20px 0 30px;
}

.hero-buttons {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 12px 26px;
    border-radius: 30px;
    background: white;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.btn.outline {
    border: 2px solid white;
    background: transparent;
    color: white;
}

.exp-title {
    margin-top: 60px;
    opacity: 0.6;
    font-size: 14px;
}

.tech-icons {
    margin: 20px 0 50px;
    display: flex;
    justify-content: center;
    gap: 22px;
}

.tech-icons img {
    width: 50px;
    opacity: 0.9;
}

.projects {
    padding: 80px 60px;
    text-align: center;
}

.projects h2 {
    color: #ff6f3c;
    margin-bottom: 40px;
}

.project-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.project-card {
    background: #1c1c1c;
    width: 330px;
    border-radius: 16px;
    overflow: hidden;
}

.project-img {
    width: 100%;
}

.project-info {
    padding: 20px;
}

.project-info p {
    opacity: 0.7;
}

.experience {
    padding: 50px 60px;
}

.experience h2 {
    text-align: center;
    color: #2f80ed;
    margin-bottom: 40px;
}

.exp-item {
    margin-bottom: 45px;
}

.exp-header {
    display: flex;
    justify-content: space-between;
}

.exp-header span {
    opacity: 0.5;
}

.contact {
    padding: 80px 60px;
    background: #111;
    text-align: center;
}

.email {
    margin-top: 10px;
    font-weight: 700;
}

.socials {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
